<%- include('./layouts/header') %>



    <div id="app" class="bg-gray-200  min-h-screen" dir="rtl">

        
        <div class="text-center pt-10 mb-8">
            <h1 class="font-bold text-2xl">مطعم وكافيتريا العائلات</h1>
        </div>
        <div class="flex justify-center">
            <div class="flex items-center border-b border-teal-500 py-2 mx-8 w-full md:w-1/3">
                <input v-model="data.input_value"  
                class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="number" placeholder="رقم الطلب" aria-label="Full name">
                <button @click="data.input = data.input_value ; checkIsReady()"
                class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
                 اضف رقم طلبك
                </button>
              </div>
        </div>
        <div class="flex justify-center mt-10">
            <div class="w-[320px] h-[320px] border-2 rounded-full flex justify-center items-center"
            :class=" data.isReady ? 'border-green-600 bg-green-300 text-yellow-800' : 'border-blue-600'">
                <div class="text-9xl">
                   {{ data.input }}
                </div>
            </div>
        </div>
        <div v-if="data.input" class="text-center text-2xl font-bold" :class="data.isReady ? 'text-yellow-400' : 'text-green-400'">
            {{data.isReady ? 'طلبك جاهز اذهب واطلبه' : 'طلبك سيكون جاهز قريبا'}}
        </div>

       <div class="invisible">
        <audio controls  id="beeb">
            <source src="sound/beep-02.wav" type="audio/wav">
          Your browser does not support the audio element.
          </audio> 
       </div>

    </div>


    <script>
        const { createApp, ref, onMounted, reactive } = Vue

        createApp({
            setup() {
                const socket = io();
                const data = reactive({
                    list: [],
                    input_value: '',
                    input: '',
                    isReady: false
                })
                onMounted(() => {
                    socket.on('add ready request', (socket) => {
                        data.list = socket;
                        [...data.list].find(e => Number(e) == Number(data.input)) ? data.isReady = true : data.isReady = false;
                        [...data.list].find(e => Number(e) == Number(data.input)) ? playSound() : null;
                        console.log([...data.list].find(e => Number(e) == Number(data.input)));
                    })
                })

                function checkIsReady(){
                    socket.emit('get all list')
                }

                function playSound(){
                    const x = document.getElementById('beeb');
                    x.play();
                }

                return {
                    data,
                    checkIsReady
                }
            }
        }).mount('#app')
    </script>

    <%- include('./layouts/footer') %>